@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --bg-color: #111111;
    --bg-color-1: #212121;
    --bg-color-2: #313131;
    --bg-color-3: #353535;
    --font-color: white;
}

.bg-dark {
    background-color: var(--bg-color-1) !important;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;

    background-color: var(--bg-color);
    color: var(--font-color);
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 20px;
}

.card {
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.loading {
    display: none;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-1rem);
}

.modal-content {
    background-color: var(--bg-color-1) !important;
}

.modal-footer {
    border: none;
}

.modal-header {
    border: none;
}

.btn {
    border-radius: .75rem;
}

div #modal-book-content-cover {
    border-radius: 20px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20rem;
}

.navbar-toggler {
    border: none !important;
}

body:not(.focus-visible) :focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

.card-loading {
    opacity: 0.1;
    transition: all 0.1s;
}

.active {
    display: block;
}

#chapter-nav {
    position: fixed;
}